* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*                   debug                  */
.debug {
  background-color: lightcoral;
  border: 1px solid black;
}

/*                   common                  */
.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

.w-60 {
  width: 60%;
  margin: 0 auto;
}

.margin-15 {
  margin-top: 15px;
}

.margin {
  margin-top: 20px;
}

.lightblue {
  background-color: #b4d0e7;
}

a {
  text-decoration: none;
  color: black;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.grey {
  color: grey;
  font-size: 14px;
}

.text-align {
  text-align: center;
}

.border-grey {
  border: 1px solid grey;
}

.pulsante {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #0061ff;
}

/*                   common                  */

/*          nav              */
nav {
  position: fixed;
  height: 79px;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid grey;
}

nav ul {
  display: inline-block;
  line-height: 100%;
}

nav li {
  display: inline;
  width: 100%;
  line-height: 78px;
  font-size: 18px;
  padding: 25px 20px;
}

nav li:hover:not(.btn) {
  border-bottom: 2px solid black;
}

.nav-left,
.nav-right {
  height: 100%;
  line-height: 100%;
  height: 80px;
}

.nav-left {
  float: left;
}

.nav-left ul li a img {
  vertical-align: middle;
}

.nav-right {
  position: relative;
  float: right;
}

.nav-right ul li:last-child {
  margin-left: 20px;
  padding: 5px 20px;
}

.btn > a {
  color: white;
  padding-top: 10px;
  background-color: #0061ff;
  padding: 5px 15px;
}

.logo-dropbox {
  vertical-align: middle;
  height: auto;
}

.show {
  position: absolute;

  bottom: -50px;
  right: 485px;
  width: 100px;
  background-color: white;
  text-align: left;
}

.show p {
  padding: 5px 10px;
}

#supporto:hover .show {
  display: block;
  z-index: 1;
}

/*             fine nav                 */

/*             header                  */
header {
  padding: 110px 0;
}

header .header-section {
  position: relative;
}

header .header-section h1 {
  font-size: 100px;
}

header .header-section .text {
  margin: 30px 0 20px 0;
}

.jumbo {
  position: absolute; /*  prova a cambiare in relative  */
  right: 260px;
  top: 500px;
}

.jumbo img {
  width: 800px;
  height: 470px;
  object-fit: cover;
}

.annulla {
  margin-top: 10px;
}

.arrow {
  margin-top: 20px;
  font-size: 50px;
}

/*           fine header                  */

/*          main              */
main {
  padding-top: 220px;
}
/*        abbonamenti          */

/*         width .abbonamenti = width main       */

.abbonamenti form {
  margin-top: 20px;
  margin-bottom: 30px;
}

.abbonamento {
  float: left;
  display: inline-block;
  width: calc(100% / 3 - 40px);
  height: 1000px;
}

.abbonamento-2 {
  margin: 0 60px;
}

/*         fine   abbonamenti          */

/*          elementi in comune in abbonamenti       */

.section-title {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid grey;
}

.subscription-title #title {
  font-size: 24px;
}

.prova-gratis > a {
  color: white;
}

.tick,
.tick-text {
  display: inline-block;
  float: left;
}

.tick {
  display: inline-block;
  width: 5%;
  color: #0061ff;
  text-align: start;
  font-size: 15px;
}

.tick-text {
  display: inline-block;
  width: 90%;
}

/*       fine elementi in comune in abbonamenti    */

/*       sezione contatta    */
.contatti {
  width: 100%;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 200px;
}
.contatti-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid grey;
}

.sezione-contatti {
  width: 90%;
  margin: 0 auto;
}

.contatti-left,
.contatti-right {
  float: left;
  height: 100%;
}

.contatti-left {
  width: 65%;
}

.contatti-right {
  width: 30%;
}

.btn-contatti {
  width: 90%;
  margin: 0 auto;
}
.pulsante > a {
  color: white;
}

/*       sezione contatta    */

/*       sezione cerca partner    */
.partner .img {
  width: 592px;
  height: 505px;
  float: left;
  background-image: url(../img/partner.png);
  background-size: cover;
}

.partner .partner-text {
  float: left;
  padding-top: 40px;
  padding-left: 40px;
}
.partner .partner-text p {
  margin-bottom: 40px;
}

.partner-btn {
  height: 40px;
  line-height: 40px;
  border: 1px solid black;
  padding: 10px;
}

/*         fine sezione cerca partner       */
.operazioni {
  width: 100%;
  margin-top: 80px;
}

.row {
  width: 100%;
}

.row .strumenti {
  float: left;
  width: 310px;
}

.strumento-2 {
  margin: 0 10%;
}

.foto img {
  width: 100%;
}

.row-2 {
  margin-top: 60px;
}

.utenti {
  width: 100%;
  margin-top: 200px;
}

.utenti a {
  text-decoration: underline;
  color: #0061ff;
}

.section-loghi-faq {
  width: 100%;
  margin-top: 50px;
}

.square {
  width: 485px;
  height: 485px;
}

.square-1 {
  float: left;
}

.square-2 {
  float: right;
}

.logo {
  position: relative;
  width: 50%;
  height: 50%;
  text-align: center;
}

.logo img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  filter: invert(1);
}

.logo-1 > img {
  width: 135px;
  height: 45px;
}

.logo-1 {
  float: left;
  background-color: #a2d39b;
  border: 10px solid #d0e9cd;
}

.logo-2 {
  float: right;
  background-color: #61082b;
}

.logo-3 {
  float: left;
  background-color: #0093ce;
}

.logo-3 img {
  height: 35px;
}

.logo-4 {
  float: right;
  background-color: #ff1c1c;
}

/*          center            */

.center {
  float: left;
  width: calc(100% - 970px);
  height: 485px;
  background-color: #f5f5f5;
  border: none;
}

.designit {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}

.designit p {
  margin-top: 50px;
}

#design {
  width: 135px;
  height: 45px;
}

.logo-1-1 {
  float: left;
  background-color: #d5001f;
}

.logo-2-1 {
  float: right;
  background-color: #b4d0e7;
}

.logo-3-1 {
  float: left;
  background-color: #0d2481;
}
.logo-4-1 {
  float: right;
  background-color: #ffd830;
}

.free-try {
  background-color: #b4d0e7;
  width: 100%;
  padding: 100px 0;
}

.free-trial {
  margin: 0 auto;
}

.free-trial h2 {
  float: left;
  color: #61082b;
}

h2 {
  font-size: 40px;
}

.free-btn {
  float: right;
  background-color: white;
  font-size: 18px;
  padding: 10px 60px;
}

.faq {
  padding: 100px 0;
  margin: 0 auto;
}

.faq h2 {
  margin-bottom: 50px;
}

.domanda {
  border-bottom: 1px solid #dcdcde;
}
.corpo-domanda {
  padding: 30px 0;
  font-weight: bold;
}

.domanda-text {
  float: left;
}

.domanda-1 {
  border-top: 1px solid #dcdcde;
}
.freccia {
  float: right;
}
.domanda-mostra {
  display: none;
  font-weight: normal;
}

.domanda:hover .domanda-mostra {
  display: block;
}

.domanda:hover .freccia-giu {
  display: none;
}

.freccia-su {
  display: none;
}

.domanda:hover .freccia-su {
  display: block;
}

/*                     footer                  */
footer {
  width: 100%;
  background-color: black;
  padding: 50px 0;
  color: white;
}

footer h5 {
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.wrapper {
  padding: 50px 0;
}

.parte-sup-footer {
  display: inline-block;
}

.footer-section {
  float: left;
  display: inline-block;
  text-align: left;
}

.margin-left {
  margin-left: 200px;
}

.footer-section a {
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size: 13.26px;
  text-decoration: none;
}
/*               fine parte-sup-footer             */
.lang i {
  margin-top: 30px;
}

.lang a {
  color: white;
  text-decoration: none;
}
